@import url("http://promisedata.org/2011/img/style.css");

#wrapper {font-size: x-small; align:center;}
img.big {width: 500px;}
#center { width: 100%;}
table.midtext {margin-left: -25px; width: 130%;}
 #hide {display:none;}
